<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mis Planes</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/cssPortafolio.css' %}" />
</head>

<body>
  <nav class="topnav">
    <a class="home-nav" href="{% url 'indexCar' %}"><img src="{% static 'image/logo.jpg' %}" alt="logo" /></a>
    {% if request.user.is_authenticated %}
    <a class="bar-nav" href="{% url 'exit' %}">Cerrar Sesión</a>
    {% else %}
    <a class="bar-nav" href="{% url 'login' %}">Inicio de Sesión</a>
    {% endif %}
    <a class="bar-nav" href="{% url 'catalogo' %}">Vehículos</a>
    <a class="bar-nav" href="#footer">Contacto</a>
  </nav>
  <h1 style="text-align: center">Mis Planes</h1>

  <section style="background-color: white;">
    {% if planes %}
        <div class="row">
            {% for plan in planes %}
                <div class="column">
                    <div class="content">
                        <h4>{{ plan.vehículo }}</h4>
                        <p><b>Mensualidades:</b> ${{ plan.mensualidades }}</p>
                        <p><b>Plazo:</b> {{ plan.plazo }} Meses</p>
                        <p><b>Monto a financiar:</b> ${{ plan.montoAFinanciar }}</p>
                        <p><b>Pago Inicial:</b> ${{ plan.pagoInicial }}</p>
                        <p><b>Seguro Contado:</b> ${{ plan.seguroContado }}</p>
                        <p><b>Comision por apertura:</b> ${{ plan.comisionApertura }}</p>
                        <form action="{% url 'borrar_plan' plan.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn">Borrar</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <p>No tienes planes registrados.</p>
    {% endif %}  
  </section>


  <footer class="footer" id="footer">
    <h2>CONTACTANOS:</h2>

    <div class="container-contactanos">
      <div class="container-contactanos-left">
        <h2>Correo Electrónico:</h2>
        <p>
          <a style="color: white" href="http://gmail.com">driverXperence@gmail.com</a>
        </p>
      </div>
      <div class="container-contactanos-midle">
        <h2>Nuestras Redes Sociales:</h2>
        <img style="width: 130px; padding-left: 50px" src="image/icon-redes.jpg " alt="" />
      </div>
      <div class="container-contactanos-right">
        <h2>Teléfonos:</h2>
        <p>(477) 333-3333</p>
        <p>(477) 333-3333</p>
        <p>(477) 333-3333</p>
      </div>
    </div>

    <hr />
    <h2>Derechos Reservados</h2>
    <p>
      El contenido de este sitio web está protegido por las leyes de derechos
      de autor. Queda prohibida su reproducción sin autorización previa.
      DriveXperience se reserva el derecho de modificar la información en
      cualquier momento. Para más detalles, contáctenos.
    </p>
  </footer>
</body>
</html>